<ion-view view-title="Login">
    <ion-content class="padding">
          <div class="list list-inset">
            <ion-input class="item item-input">
                <input type="email" placeholder="Email">
            </ion-input>
            <ion-input class="item item-input">
              <input type="password" placeholder="Password">
            </ion-input>
          </div>
          <button class="button button-block button-positive">
            Login
          </button>
    </ion-content>
</ion-view>